@charset "ISO-8859-1";
body {
	text-align:center;
	background-color: rgb(96,171,217);
	font-weight: bold;
}
h1 {
	text-align:center;
	color:purple;
  	margin-left: 20px;
}
form.horizontal{ display: inline-block; }

form.home{
	text-align: left;
	border-width: 2px;
}
form.logout{
	text-align: right;
	border-width: 2px;
	font-size: 14px;
}
input.button{
	border-radius: 12px;
}
input.submit,input.login{
	border-radius: 5px;
	font-size: 18px;
}
img.image{
	border-radius: 50%;
}
p.status{
	color: red;
	font-size: 150%;
}
form.lable,label.lable{
  display: inline-block;
  width: 140px;
  text-align: right; 
}

.boxes {
	width:600px;
    height:190px;
	background-color:green;
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
}

boxes.leftbox {
	float:left;
            width:180px;
            height:160px;
            background-color:white;
            border:solid black
}
boxes.rightbox{
	float:right;
            width:180px;
            height:160px;
            background-color:white;
            border:solid black;
}